RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^images/(.*?)$ 				images/$1
RewriteRule ^admin/(.*?)$ 				admin/$1
RewriteRule ^(.*?)/?(.*?)$ 				index.php?xrestplugin=$1&$2
RewriteRule ^(.*?)/$ 					index.php?xrestplugin=$1&
